.contact {
  color: $white;
  background-color: $primaryBlue;

  label {
    display: block;
    margin-top: 20px;
  }

  // -----------inputs
  %shared-inputs {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    width: 100%;
  }

  %invalid {
    border: 2px solid transparent;
  }

  %valid {
    border: 2px solid $darkGray;
  }

  %focus {
    outline: none;
  }

  textarea {
    @extend %shared-inputs;
    min-height: 61px;
    &:invalid {
      @extend %invalid;
    }
    &:valid {
      @extend %valid;
    }
    &:focus {
      @extend %focus;
    }
  }

  input {
    &[type="text"],
    &[type="email"] {
      @extend %shared-inputs;
    }
    &:invalid {
      @extend %invalid;
    }
    &:valid {
      @extend %valid;
    }
    &:focus {
      @extend %focus;
    }
    &[type="submit"] {
      background-color: $white;
      font-weight: 400;
      cursor: pointer;
      user-select: text;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      line-height: 1.5;
      border: {
        radius: 5px;
        color: $darkGray;
      }
      
    }
  }

// -----------vendor specific
  :invalid, 
  :-moz-submit-invalid, 
  :-moz-ui-invalid 
  {
    box-shadow: none;
  }
}
