.hero {
  text-align: center;
  background-image: url('../../images/header-bg.svg');
  background-size: cover;
  overflow: hidden;

  &__text {
    margin: 2rem 0;
  }

  %hero-text {
    font-family: 'Coda', cursive;
    margin: 0;
    padding: 0;
  }

  h1 {
    @extend %hero-text;
    font-size: 75px;
    color: $white;
  }

  h2 {
    @extend %hero-text;
    font-size: 25px;
    color: $darkGray;
  }

  .medals {
    padding-bottom: 2rem;
  }

  .frame {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 5px solid $white;
    border-radius: 50%;
    margin-left: .5rem;
    margin-right: .5rem;
    color: $darkGray;
    overflow: hidden;
    transform-style: preserve-3d;

    .avatar {
      position:absolute;
      height: 100%;
      width: 100%;
      backface-visibility: hidden;
      border-radius: 50%;
    }

    .avatar--twitter {
      background:url('../../images/js-twitter.jpg');
      background-size: cover;
    }
    .avatar--linkedin {
      background:url('../../images/js-linkedIn.jpg');
      background-size: cover;
    }
    .avatar--github {
      background:url('../../images/js-github.jpg');
      background-size: cover;
    }
    .avatar--gitlab {
      background:url('../../images/js-gitlab.png');
      background-size: cover;
    }

    %absolutely-centered {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }

    .logo-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      backface-visibility: hidden;
    }

    .fa-twitter {
      font-size: 72px;
      transform: translateY(2px);
    }

    .fa-linkedin-in {
      font-size: 67px;
      transform: translateX(1px);
    }

    .fa-github {
      font-size: 92px;
      margin-left: -1px;
    }

    .fa-gitlab {
      font-size: 76px;
      margin-top: 10px;
      transform: translateY(-2px);
    }
  }
}
