.main-nav {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 66px;
  max-height: 66px;
  padding-top: 1px;
  background-color: $darkGray;
  box-shadow: 0 2px 6px rgba(0,0,0,0.26);

  &__menu-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    padding-left: 0;
    margin: 0;
    max-height: 0;
    background-color: $darkGray;
    transition: max-height 0.2s ease-out;

    &.opened {
      max-height: 233px;
    }
  }

  li {
    margin: 1.5rem 2rem 1rem 2rem;
    &:first-child {
      margin: {
        top: 3.5rem;
        bottom: .9rem;
      }
    }
    &:last-child {
      margin-bottom: 1.5rem;
    }
  }
  
  a {
    color: $lightGray;
  }

  .fa-node-js {
    font-size: 37px;
  }

  // -----------burger menu
  %burger-recipe {
    display: block;
    margin-top: 4px;
    width: 20px;
    height: 3px;
    background-color: $lightGray;
    border-radius: 5px;
    transition: transform .3s ease-out;
  }

  &__burger-box {
    top: 19px;
    left: 90%;
    position: relative;
    width: 20px;
    z-index: 10;
    cursor: pointer;

    &::before {
      @extend %burger-recipe;
      content: "";
      transform-origin: 0 0;
    }

    .main-nav__burger {
      @extend %burger-recipe;
      transform-origin: 0 50%;
    }
    
    &::after {
      @extend %burger-recipe;
      content: "";
      transform-origin: 0 100%;
    }
  }

// -----------burger menu animation
  &__burger-box--transform {
    &::before {
      transform: rotate(45deg) scaleX(1.25);
    }

    .main-nav__burger {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(2px) translateX(-1px);
    }
  }

// -----------media queries
  @include small {
    & {
      padding-top: 0;
    }
    &__burger-box {
      display: none;
    }
    &__menu-content {
      flex-direction: row;
      max-height: none;
    }
    .fa-node-js {
      font-size: 45px;
    }
    .logo {
      margin-right: auto;
    }
    .logo > a {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    li {
      margin: 1.5rem;
      margin-right: 2rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
